{% extends 'index.html' %}

{% block body %}

<div class="container" style="margin-top: 20px;">

	<section class="hero is-primary">
	  <div class="hero-body">
	      <h1 class="is-size-1 has-text-weight-bold has-text-dark">
	        <i class="fas fa-angle-double-right"></i>
	        Welcome to Tweets Updates!
	      </h1>
	  </div>
	</section>
    
    <div>
        <form method="POST">
            <p><input type="text"  placeholder="Twitter Handle"  name="text" margin-top=5px width=50 height=120 >

                <input type="submit" button class="button is-warning">
                    <div>
                        
                                                
                    </div>
                </button>
            
        </form>
    </div>

	<div class="rows" style="margin-top: 10px;">
        <h2 class="is-size-3 has-text-weight-bold has-text-dark">Now Showing Handle : <u> {{query}} </u></h2>



        {% for i in all_tweets %}
            <h3 class="has-text-weight-bold has-text-dark">{{i}}</h3>
            <br>
        {% endfor %}

    </div>


	<div class="columns" style="margin-top: 10px;">
		<div class="column is-4 is-offset-2" style="margin-top: 90px;">
      	<button class="button is-large is-primary">
      		<div>
      			<a href="https://github.com/" class="has-text-dark">
      				<i class="fab fa-github"></i> <strong>Goto Github</strong>
      			</a>
      		</div>
      	</button>
      </div>
	</div>

</div>

{% endblock %}
